version: "3.9"

services:
  frontend:
    build: ./frontend
    ports:
      - "8088:80"
    volumes:
      - .frontend/public:/usr/share/nginx/html:ro
  
  db:
    image: postgres:16-alpine
    env_file:
      - .env
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data
    ports:
      - "6000:5432"

  api:
    build: .
    ports:
      - "3000:80"

volumes:
  pgdata:
